MamoruTrans/NDS_UNPACK/*
MamoruTrans/cache.xml
MamoruTrans/text_backup/*
MamoruTrans/readme.txt
MamoruTrans/DarthNemesis.dll
MamoruTrans/MamoruTrans.exe
font_data.bin
extract*
out_*
repack*
src
*.sav
*.nds
*.xdelta
